:root {
    --display: block;
    --columns: 1fr;
    --rows: 1fr;
    --areas: none;
  
    --all: span;
    --border: black thin solid;
    --pad: 0em;
    --metW: 11.5em;
    --metH: 2em;
    --labFont: 1em;
    --pFont: small;
    --inputH: 1em;
    --inputW: 7em;
    --inputFont: 0.7em;
    --metAfter: -1.60em;
    --svgW: 800px;
    --svgH: 285px;
    --namePad: none;
    --btnW: 100px;
    --btnH: 40px;
    --height: 100vh;
    --width: 100vw;
    --featH: 16em;
}

@media (768px < width) {
    :root {
        --display: grid;
        --columns: 1fr 1fr 1fr 1fr;
        --rows: 0.2fr 2fr 0.7fr;
  
        --areas: "happiness hunger sleep clean"
        "petscreen petscreen petscreen petscreen"
        "pethappiness pethunger petsleep petclean";
        --all: span;
        --border: black thin solid;
        --pad: 0em;
        --metW: 11.5em;
        --metH: 3em;
        --labFont: 1em;
        --pFont: larger;
        --inputH: 1.5em;
        --inputW: 7em;
        --inputFont: 1em;
        --metAfter: -2.2em;
        --svgW: 800px;
        --svgH: 600px;
        --namePad: 0px;
        --btnW: 170px;
        --btnH: 70px;
        --featH: 35em;
    }
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

main {
    padding: var(--pad);
    margin: 0 auto;
    display: var(--display);
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    grid-template-areas: var(--areas);
    gap: var(--gap);
    height: var(--height);
    width: var(--width)
}

.head {
    background-color: #d3d3d3;
}

.petscreen {
    grid-area: petscreen;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

.pethunger {
    grid-area: pethunger;
    background-color: rgb(42, 153, 165);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 2 auto;
}

.petsleep {
    grid-area: petsleep;
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.pethappiness {
    grid-area: pethappiness;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.petclean {
    grid-area: petclean;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.hunger {
    grid-area: hunger;
    background-color: rgb(42, 153, 165);
}

.sleep {
    grid-area: sleep;
    background-color: bisque;
}

.happiness {
    grid-area: happiness;
    background-color: blueviolet;
}

.clean {
    grid-area: clean;
    background-color: blanchedalmond;
}

p {
    font-size: var(--pFont);
}

meter {
    width: var(--metW);
    height: var(--metH);
}


meter::after {
    content : attr(value);
    top: var(--metAfter);
    position: relative;
    font-weight: bold;
    font-size: 15px;
   }

label {
    font-family: fantasy; 
    font-size: var(--labFont);
}

#pet_name {
    width: 15em;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.15); 
}

.visible {
    visibility: visible;
    background-color: #555;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.hidden {
    visibility: hidden;
}

input {
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: burlywood;
    cursor: auto;
    height: var(--inputH);
    width: var(--inputW);
}

input:hover {
    background-color: scale-color(3e68ff, -20%);
    transition: 220ms all ease-in-out;
}

input[type='text'] {
    font-size: var(--inputFont);
}

svg {
    width: var(--svgW);
    height: var(--svgH);
    /* outline: 3px dotted; */
    flex: 2 1 auto;
}

.body {
    fill: #EBCCAB;
    stroke: #444;
    stroke-width: 0.5em;
}

.glasses {
    fill: #EBCCAB;
    stroke: #444;
    stroke-width: 0.5em;
}

.ears {
    fill: #EBCCAB;
    stroke: #444;
    stroke-width: 0.5em;
}

.mouth {
    fill: transparent;
    stroke: burlywood;
    stroke-width: 0.5em;
}

.nose {
    fill: transparent;
    stroke: burlywood;
    stroke-width: 0.5em;
}

.cute {
    fill: red;
    stroke: pink;
    opacity: 0.2;
    stroke-width: 0.5em;
}

#innerear {
    fill: hotpink;
    stroke: pink;
    opacity: 0.2;
    stroke-width: 0.5em;
}

.outereye {
    fill: white;
    stroke: #444;
    stroke-width: 0.5em;
    animation: blinking 5s infinite ease-in-out;
}

.eyeball {
    fill: black;
    animation: blinking 5s infinite ease-in-out;
}

@keyframes blinking {
    0% { transform: scaleY(1); }
    5% { transform: scaleY(0.1); }
    10% { transform: scaleY(1); }
    100% { transform: scaleY(1); }
}

#hattoggle {
    width: var(--btnW);
    height: var(--btnH);
}

#glasstoggle {
    width: var(--btnW);
    height: var(--btnH);
}

#name {
    padding-left: var(--namePad);
    width: 150px;
    height: 30px;  
}

#logout {
    width: 120px;
    height: 70px;
}

#score {
    width: 120px;
    height: 70px;
}

.death_eyes {
    fill: black;
    stroke: black;
    stroke-width: 0.5em;
}

button:disabled, button[disabled] {
    cursor: not-allowed;
}

img {
  max-height: 8vh;
  min-width: 5vw;
}

#rename {
    font-size: 0.75em;
}

.features {
    position: relative;
    text-align: center;
    background-color: rgba(201, 76, 76, 0.2);
    top: 1em;
    left: 1.5em;
    height: var(--featH);
    padding-right: 20px;
    padding-left: 20px;
}

#levelScore {
    position: relative;
    right: 4em;
    top: 6em;
}