main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em 2fr 1fr;

    grid-template-areas: "head head head head head"
                         "petscreen petscreen petscreen petscreen petscreen"
                         "pethappiness pethunger petsleep petboredom petstatus";

    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

.petscreen {
    grid-area: petscreen;
}

.pethunger {
    grid-area: pethunger;
    background-color: rgb(42, 153, 165);
}

.petsleep {
    grid-area: petsleep;
    background-color: bisque;
}

.pethappiness {
    grid-area: pethappiness;
    background-color: blueviolet;
}

.petboredom {
    grid-area: petboredom;
    background-color: blanchedalmond;
}

meter {
    width: 10.5em;
    height: 2em;
}

label {
    font-family: fantasy; 
}

#pet_name {
    width: 15em;
}